include ../menu-aside/menu-aside
include ../article/article

section.blog-content
    aside.blog-content__menu
        +menu-aside([{url: "#article_1", text: 'Самое важное в SASS', id: 'js_article_1', data: 'article_1'},
            {url: "#article_2", text: 'Приёмы в вёрстке, без которых не обходится ни один сайт', id: 'js_article_2', data: 'article_2'},
            {url: "#article_3", text: 'Самый необходимый набор Gulp плагинов', id: 'js_article_3', data: 'article_3'},
            {url: "#article_4", text: 'Почему я выбрал Jade', id: 'js_article_4', data: 'article_4'}])
    a.blog-content__button-menu#js_blog-content__button-menu(href="#")
    main.blog-content__article
        +article('Самое важное в SASS','22 ноября 2016',
            'Таким образом начало повседневной работы по формированию позиции позволяет выполнять ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'и модернизации системы обучения кадров, соответствует насущным потребностям.', 'article_1')
        +article('Самое важное в SASS','22 ноября 2016',
            'Таким образом начало повседневной работы по формированию позиции позволяет выполнять ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'и модернизации системы обучения кадров, соответствует насущным потребностям.', 'article_2')
        +article('Самое важное в SASS','22 ноября 2016',
            'Таким образом начало повседневной работы по формированию позиции позволяет выполнять ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'и модернизации системы обучения кадров, соответствует насущным потребностям.', 'article_3')
        +article('Самое важное в SASS','22 ноября 2016',
            'Таким образом начало повседневной работы по формированию позиции позволяет выполнять ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'важные задания по разработке направлений прогрессивного развития. ' +
            'Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль ' +
            'в формировании новых предложений. Товарищи! Не следует, однако забывать, ' +
            'что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) ' +
            'участие в формировании систем массового участия. Идейные соображения высшего порядка, ' +
            'а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в ' +
            'формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! ' +
            'постоянный количественный рост и сфера нашей активности способствует подготовки и реализации ' +
            'модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения ' +
            'и модернизации системы обучения кадров, соответствует насущным потребностям.', 'article_4')
        div#js_footer