@import '../mixins/mixins.scss';

.blog-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  position: relative;
  z-index: 11;
  margin: rem(60px) 0;
  padding: 0;
}
.blog-content__menu {
  width: 25%;
  position: absolute;
  padding: 0 0 rem(27px) 0;
  z-index: 12;

  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: none;
  }

  &_sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin: rem(27px) 0;
  }
}
.blog-content__article {
  margin-left: calc(25% + rem(115px));
  width: calc(75% - rem(115px));
  padding: 0 rem(27px) 0 0;

  @include tablet() {
    width: 100%;
    margin-left: 0;
    padding-left: rem(27px);
  }

  @include mobile() {
    width: 100%;
    margin-left: 0;
    padding-left: rem(27px);
  }
}