.night
    .night__content#js_parallax_night
        img.night__mountains#js_parallax_night_mountains(src=require("../../images/mountains.png"))
        .night__stars
        .night__twinkling
        .night__clouds