mixin menu-aside(items, mod)
    - mod = ' ' + mod || ''
    ul(class="menu-aside" + mod)
        each item in items
            li.menu-aside__item
                - item.id = item.id || ''
                a.menu-aside__link(href="" + item.url id="" + item.id) #{item.text}