@import '../mixins/mixins.scss';

.slider {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-flow: column wrap;

  @include tablet() {
    flex-wrap: nowrap;
    height: 135vh;
  }
  @include iphone() {
    flex-wrap: nowrap;
    height: 235vh;
  }
  @include mobile() {
    flex-wrap: nowrap;
    height: 125vh;
  }
}
.slider__col {
  &_left {
    background: #f2f0e8;
    justify-content: center;
    align-items: center;
  }
  &_right {
    background: #e3e2de;
    flex-direction: column;
  }
}
.slider__desc-title {
  margin: 0;
  margin-bottom: rem(20px);
  text-align: center;
  font-family: "Sansus Webissimo", Arial, sans-serif;
  font-weight: 400;
  font-size: rem(35px);
  color: #474b57;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-bottom: rem(25px);
  &::after {
    content: "";
    position: absolute;
    width: rem(90px);
    height: 3px;
    background-color: rgba(71,75,87,.5);
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
.slider__desc {
  background: #f2f0e8;
  height: 100%;
  display: flex;
  width: 50%;

  @include tablet() {
    width: 100%;
    height: 50vh;
  }
  @include iphone() {
    width: 100%;
    height: 100vh;
  }
  @include mobile() {
    width: 100%;
    height: 50vh;
  }
}
.slider__desc-skills {
  padding: rem(20px) 0;
  color: #083c96;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: rem(40px);
}
.slider__desc-button {
  display: flex;
  justify-content: center;
  text-align: center;
}
.slider__desc-btn {
  text-align: center;
}

.slider__button-control {
  min-height: rem(100px);
  height: 100%;
  display: flex;
  flex: 1;
}
.slider__button {
  min-height: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.slider__button-bg {
  position: absolute;
  background-color: rgba(170,171,183,.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 22;
}
.slider__button_right {
  .slider__button-item {
    top: 100%;
  }
}
.slider__button_left:hover .slider__button-icon {
  transform: translate(50%, 70%);
}
.slider__button_right:hover .slider__button-icon {
  transform: translate(50%, -70%);
}
.slider__button-icon {
  transition: .2s;
  width: rem(45px);
  height: rem(29px);
  position: absolute;
  bottom: 45%;
  right: 50%;
  transform: translate(50%);
  fill: #fff;
  z-index: 23;
}
.slider__display-img {
  max-width: 90%;
  display: block;
  max-height: 90%;
}
.slider__display {
  position: relative;
  background: #e3e2de;
  flex: 3;
  width: 50%;

  @include tablet() {
    width: 100%;
    order: -1;
    height: 50vh;
    flex: 1;
  }
  @include iphone() {
    width: 100%;
    order: -1;
    height: 100vh;
    flex: 1;
  }
  @include mobile() {
    width: 100%;
    order: -1;
    height: 50vh;
    flex: 1;
  }
}
.slider__display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__desc-info {
  margin: auto;
  max-width: rem(325px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.slider__button-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider__button-item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: -100%;
  &.slider__button-item_active {
    top: 0%;
  }
  .slider__button-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
.slider__button-img {
  z-index: 21;
}
.slider__preloader {
  z-index: 22;
  background-color: #f2f0e8;
  color: #f2f0e8;
  display: none;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
.slider__preloader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #083c96;
}
.slider__preloader-spinner {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider__preloader-animation {
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;

  &,
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid transparent;
    border-top-color: #083c96;
    border-radius: 50%;
  }

  &:before {
    $margin: 13px;

    top: $margin;
    left: $margin;
    right: $margin;
    bottom: $margin;
    animation: spin 1.5s linear infinite;
  }

  &:after {
    $margin: 5px;

    top: $margin;
    left: $margin;
    right: $margin;
    bottom: $margin;
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slider__text-animate {
  display: inline-block;
  animation: spanShow .5s linear forwards;
}
@keyframes spanShow {
  0% {
    transform: scale(.3);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}