extends ../../components/loyout/loyout

include ../../components/footer/footer

block head
    title Главная
block content
    section.content
        include ../../components/night/night
        include ../../components/hero/hero
block footer
    +footer('copyright')