extends ../../components/loyout/loyout

include ../../components/footer/footer

block head
    title Главная
block content
    include ../../components/hero/hero
    include ../../components/night/night
block footer
    +footer('copyright')