include ../contact-with-icon/contact-with-icon

section.map
    .map__google#js_map
    .map__contact#js_map_contact
        +contact-with-icon([{icon:'skype_n', text: 'zindzay'},
            {icon:'phone_n', text: '+99893 182 30 31'},
            {icon:'envelope_n', text: 'zindzay@yandex.com'},
            {icon:'map_n', text: 'г.Алмалык, ул.Узбекистанская д.7'}])