.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact__link {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.contact__item {
  margin-bottom: 5px;
}
.contact__item:last-child {
  margin-bottom: 0;
}